<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<li>{{ this.html.link('Homepage', '/') }}</li>
				<li>{{ this.html.link('Basic Tutorial', '/pages/tutorial') }}</li>						
			</ul>
			<form class="ym-searchform">
				<input class="ym-searchfield" type="search" placeholder="Search..." />
				<input class="ym-searchbutton" type="submit" value="Search" />
			</form>
		</div>
	</div>
</nav>