<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<li>{{ this.html.link('Homepage', '/') }}</li>
				<li>{{ this.html.link('Basic Tutorial', '/pages/tutorial') }}</li>						
			</ul>			
		</div>
	</div>
</nav>