<div class="ym-grid">
	<div class="ym-g66 ym-gl">
		<div class="ym-gbox">
			<h2>Tutorial</h2>
			<p>This is basic tutorial, not all covered on this tutorial. This purpose just to make you has overview what this framework can do.</p>
						
			<h4 id="initialization">Working with Database</h4>
		</div>
	</div>
	
	<div class="ym-g33 ym-gr">
		<div class="ym-gbox">
			<h2>Index</h2>
			<div class="ym-cbox">
				<h4>Working with Database</h4>
				<ul>
					<li>{{ this.html.link('Initialize Database','#initialization') }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>